In [2]:
import pandas as pd

In [3]:
df_tag = pd.read_csv('tags.csv')

In [4]:
df_tag.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [5]:
df_rating = pd.read_csv('ratings.csv')

In [6]:
df_rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [7]:
df_movie = pd.read_csv('movies.csv')

In [8]:
df_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
df_link = pd.read_csv('links.csv')

In [10]:
df_link.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [11]:
genome_scores = pd.read_csv('genome-scores.csv')

In [12]:
genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [13]:
genome_tags = pd.read_csv('genome-tags.csv')

In [14]:
genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [16]:
# 1.一共有多少不同的用户
len(df_tag['userId'].unique())

14592

In [17]:
# 2.一共有多少不同的电影
len(df_movie['movieId'].unique())

62423

In [20]:
# 3.一共有多少不同的电影种类
len(df_tag['tag'].unique())

73051

In [22]:
# 4.一共有多少电影没有外部链接
len(df_link[df_link.isnull().T.any()])

107

In [27]:
# 5.2018年一共有多少人进行过电影评分
import datetime
import time
time.strftime('%Y--%m--%d',time.localtime(df_rating['timestamp']))

TypeError: cannot convert the series to <class 'int'>

In [61]:
df_rating['timestamp'] = pd.to_datetime(df_rating['timestamp'],unit='s')

In [64]:
df_rating['timestamp']>datetime.Timestamp('2018-01-01 00:00:00')

AttributeError: module 'datetime' has no attribute 'Timestamp'

In [49]:
friday

Timestamp('2018-01-05 00:00:00')

In [59]:
pd.to_datetime(1476923820,unit='s',utc=True).strftime("%Y")

'2016'

In [58]:
time_test.strftime("%Y")

'2016'

In [65]:
time.strftime('%Y', df_rating['timestamp'])

TypeError: Tuple or struct_time argument required

In [70]:
import time
a1 = "2018-01-01 00:00:00"
timeArray = time.strptime(a1, "%Y-%m-%d %H:%M:%S")
 
# 转换为时间戳
timeStamp1 = int(time.mktime(timeArray))
print(timeStamp1)

1514736000

In [67]:
a1 = "2019-01-01 00:00:00"
timeArray = time.strptime(a1, "%Y-%m-%d %H:%M:%S")
 
# 转换为时间戳
timeStamp2 = int(time.mktime(timeArray))
print(timeStamp2)

1546272000

In [68]:
df_rating = pd.read_csv('ratings.csv')

In [77]:
df = df_rating[timeStamp1<df_rating['timestamp']]

In [81]:
df2 = df[df['timestamp']<timeStamp2]

In [ ]:
len(df2.unstackique())