### 第一步：用pandas处理数据，获取2010年到2019年数据

In [1]:
import pandas as pd
df_tag = pd.read_csv('tags.csv')
df_rating = pd.read_csv('ratings.csv')
df_movie = pd.read_csv('movies.csv')
df_link = pd.read_csv('links.csv')

In [2]:
df_rating["time_year"] = pd.to_datetime(df_rating['timestamp'],unit='s').apply(lambda x:x.year)

In [3]:
df_rating.head()

   userId  movieId  rating   timestamp  time_year
0       1      296     5.0  1147880044       2006
1       1      306     3.5  1147868817       2006
2       1      307     5.0  1147868828       2006
3       1      665     5.0  1147878820       2006
4       1      899     3.5  1147868510       2006

In [12]:
# 取ratings中2010--2019年的数据
df_rating_year = df_rating[(df_rating["time_year"] >= 2010) & (df_rating["time_year"] <= 2019)]

In [17]:
df_rating_year.head()

     userId  movieId  rating   timestamp  time_year
254       3        1     4.0  1439472215       2015
255       3       29     4.5  1484754967       2017
256       3       32     4.5  1439474635       2015
257       3       50     5.0  1439474391       2015
258       3      111     4.0  1484753849       2017

In [18]:
df_rating_rs = df_rating_year.drop(columns=['timestamp'], axis=1)

In [19]:
df_rating_rs.head()

     userId  movieId  rating  time_year
254       3        1     4.0       2015
255       3       29     4.5       2017
256       3       32     4.5       2015
257       3       50     5.0       2015
258       3      111     4.0       2017

In [32]:
df_rating_rs.to_csv("df_rating_rs.csv")

In [14]:
# 取tags中2010--2019年的数据
df_tag["time_year"] = pd.to_datetime(df_tag['timestamp'],unit='s').apply(lambda x:x.year)
df_tag_year = df_tag[(df_tag["time_year"] >= 2010) & (df_tag["time_year"] <= 2019)]

In [20]:
df_tag_year.head()

   userId  movieId               tag   timestamp  time_year
0       3      260           classic  1439472355       2015
1       3      260            sci-fi  1439472256       2015
2       4     1732       dark comedy  1573943598       2019
3       4     1732    great dialogue  1573943604       2019
4       4     7569  so bad it's good  1573943455       2019

In [21]:
df_tag_rs = df_tag_year.drop(columns=['timestamp'], axis=1)

In [22]:
df_tag_rs.head()

   userId  movieId               tag  time_year
0       3      260           classic       2015
1       3      260            sci-fi       2015
2       4     1732       dark comedy       2019
3       4     1732    great dialogue       2019
4       4     7569  so bad it's good       2019

In [31]:
df_tag_rs.to_csv("df_tag_rs.csv")

### 第二步：将数据导入数据库中

In [23]:
from sqlalchemy import create_engine

In [27]:
engine = create_engine('mysql+pymysql://root:@localhost:3306/zy_bank?charset=utf8')

In [30]:
# 导入ratings
df_rating_rs.to_sql("ratings", engine, if_exists="replace", index=True)

KeyboardInterrupt:

In [ ]:
# 导入tags
df_tag_rs.to_sql("tags", engine, if_exists="replace", index=True)

In [ ]:
# 导入movies
df_movie.to_sql("movies", engine, if_exists="replace", index=True)

In [ ]:
# 导入links
df_link.to_sql("links", engine, if_exists="replace", index=True)

In [29]:
df_rating_rs.to_sql?

Signature:
df_rating_rs.to_sql(
    name: str,
    con,
    schema=None,
    if_exists: str = 'fail',
    index: bool = True,
    index_label=None,
    chunksize=None,
    dtype=None,
    method=None,
) -> None
Docstring:
Write records stored in a DataFrame to a SQL database.

Databases supported by SQLAlchemy [1]_ are supported. Tables can be
newly created, appended to, or overwritten.

Parameters
----------
name : str
    Name of SQL table.
con : sqlalchemy.engine.Engine or sqlite3.Connection
    Using SQLAlchemy makes it possible to use any DB supported by that
    library. Legacy support is provided for sqlite3.Connection objects. The user
    is responsible for engine disposal and connection closure for the SQLAlchemy
    connectable See `here                 <https://docs.sqlalchemy.org/en/13/core/connections.html>`_

schema : str, optional
    Specify the schema (if database flavor supports this). If None, use
    default schema.
if_exists : {'fail', 'replace', 'append'}, default 'fail'
    How to behave if the table already exists.

    * fail: Raise a ValueError.
    * replace: Drop the table before inserting new values.
    * append: Insert new values to the existing table.

index : bool, default True
    Write DataFrame index as a column. Uses `index_label` as the column
    name in the table.
index_label : str or sequence, default None
    Column label for index column(s). If None is given (default) and
    `index` is True, then the index names are used.
    A sequence should be given if the DataFrame uses MultiIndex.
chunksize : int, optional
    Specify the number of rows in each batch to be written at a time.
    By default, all rows will be written at once.
dtype : dict or scalar, optional
    Specifying the datatype for columns. If a dictionary is used, the
    keys should be the column names and the values should be the
    SQLAlchemy types or strings for the sqlite3 legacy mode. If a
    scalar is provided, it will be applied to all columns.
method : {None, 'multi', callable}, optional
    Controls the SQL insertion clause used:

    * None : Uses standard SQL ``INSERT`` clause (one per row).
    * 'multi': Pass multiple values in a single ``INSERT`` clause.
    * callable with signature ``(pd_table, conn, keys, data_iter)``.

    Details and a sample callable implementation can be found in the
    section :ref:`insert method <io.sql.method>`.

    .. versionadded:: 0.24.0

Raises
------
ValueError
    When the table already exists and `if_exists` is 'fail' (the
    default).

See Also
--------
read_sql : Read a DataFrame from a table.

Notes
-----
Timezone aware datetime columns will be written as
``Timestamp with timezone`` type with SQLAlchemy if supported by the
database. Otherwise, the datetimes will be stored as timezone unaware
timestamps local to the original timezone.

.. versionadded:: 0.24.0

References
----------
.. [1] http://docs.sqlalchemy.org
.. [2] https://www.python.org/dev/peps/pep-0249/

Examples
--------

Create an in-memory SQLite database.

>>> from sqlalchemy import create_engine
>>> engine = create_engine('sqlite://', echo=False)

Create a table from scratch with 3 rows.

>>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
>>> df
     name
0  User 1
1  User 2
2  User 3

>>> df.to_sql('users', con=engine)
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

>>> df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
>>> df1.to_sql('users', con=engine, if_exists='append')
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
 (0, 'User 4'), (1, 'User 5')]

Overwrite the table with just ``df1``.

>>> df1.to_sql('users', con=engine, if_exists='replace',
...            index_label='id')
>>> engine.execute("SELECT * FROM users").fetchall()
[(0, 'User 4'), (1, 'User 5')]

Specify the dtype (especially useful for integers with missing values).
Notice that while pandas is forced to store the data as floating point,
the database supports nullable integers. When fetching the data with
Python, we get back integer scalars.

>>> df = pd.DataFrame({"A": [1, None, 2]})
>>> df
     A
0  1.0
1  NaN
2  2.0

>>> from sqlalchemy.types import Integer
>>> df.to_sql('integers', con=engine, index=False,
...           dtype={"A": Integer()})

>>> engine.execute("SELECT * FROM integers").fetchall()
[(1,), (None,), (2,)]
File:      c:\users\bansh\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method