In [2]:
import pandas as pd

In [3]:
ratings = pd.read_csv('ratings.csv')

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [4]:
ratings_copy = ratings.copy()

In [18]:
len(ratings_copy)

25000095

In [15]:
# (0:1]档
len(ratings_copy[ratings_copy['rating'] <= 1])

1169883

In [16]:
# (1:2]
len(ratings_copy[ratings_copy['rating'] <= 2]) - len(ratings_copy[ratings_copy['rating'] <= 1])

2040358

In [17]:
# (2:3]
len(ratings_copy[ratings_copy['rating'] <= 3]) - len(ratings_copy[ratings_copy['rating'] <= 2])

6159725

In [19]:
# (3:4]
len(ratings_copy[ratings_copy['rating'] <= 4]) - len(ratings_copy[ratings_copy['rating'] <= 3])

9817116

In [20]:
# (4:5]
len(ratings_copy[ratings_copy['rating'] <= 5]) - len(ratings_copy[ratings_copy['rating'] <= 4])

5813013

In [21]:
2040358 + 5813013 + 9817116 + 6159725 + 1169883

25000095

In [7]:
ratings_copy['comment'] = '不推荐'

In [8]:
ratings_copy.head()

   userId  movieId  rating   timestamp comment
0       1      296     5.0  1147880044     不推荐
1       1      306     3.5  1147868817     不推荐
2       1      307     5.0  1147868828     不推荐
3       1      665     5.0  1147878820     不推荐
4       1      899     3.5  1147868510     不推荐

In [13]:
ratings_copy['comment'].unique()

array(['推荐', '不推荐'], dtype=object)

In [12]:
# 评分大于4的标记为推荐，否则标记为不推荐
import numpy as np
ratings_copy['comment'] = np.where(ratings_copy['rating'] > 4, '推荐', '不推荐')

In [ ]:
ratings_copy.head()

In [ ]:
ratings_copy.to_save('comment.csv')