In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings = pd.read_csv('ratings.csv')

In [5]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [6]:
tags = pd.read_csv('tags.csv')

In [7]:
tags.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [10]:
# 自定义agg函数
def str_no_nan(item):
    if not pd.isna(item):
        return item
    else:
        return ''
    
def merger_disctint(x):
    '''
    将整个Series去重后合并成一个字符串
    '''
    return ";".join(list(map(lambda i:str_no_nan(i),x.unique())))

In [9]:
tags_grouped = tags.groupby('movieId')

In [16]:
tags_agg = tags_grouped['tag'].agg(merger_disctint)

In [18]:
type(tags_agg)

pandas.core.series.Series

In [19]:
# 先合并电影名/主演/tags
merge1 = pd.merge(movies, tags_agg, on='movieId')

In [20]:
merge1.head()

,movieId,title,genres,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Owned;imdb top 250;Pixar;time travel;children;...
1,2,Jumanji (1995),Adventure|Children|Fantasy,Robin Williams;time travel;fantasy;based on ch...
2,3,Grumpier Old Men (1995),Comedy|Romance,funny;best friend;duringcreditsstinger;fishing...
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,based on novel or book;chick flick;divorce;int...
4,5,Father of the Bride Part II (1995),Comedy,aging;baby;confidence;contraception;daughter;g...

In [21]:
ratings_grouped = ratings.groupby('movieId')

In [24]:
rating_agg = ratings_grouped['rating'].agg(np.mean)

In [25]:
# 再合并电影名/主演/tags/平均分
merge2 = pd.merge(merge1, rating_agg, on='movieId')

In [26]:
merge2.head()

,movieId,title,genres,tag,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Owned;imdb top 250;Pixar;time travel;children;...,3.893708
1,2,Jumanji (1995),Adventure|Children|Fantasy,Robin Williams;time travel;fantasy;based on ch...,3.251527
2,3,Grumpier Old Men (1995),Comedy|Romance,funny;best friend;duringcreditsstinger;fishing...,3.142028
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,based on novel or book;chick flick;divorce;int...,2.853547
4,5,Father of the Bride Part II (1995),Comedy,aging;baby;confidence;contraception;daughter;g...,3.058434

In [27]:
merge2.to_csv("merge_result.csv")