In [1]:
import pandas as pd

In [2]:
df_tag = pd.read_csv('tags.csv')

In [3]:
df_tag.head()

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

In [4]:
df_rating = pd.read_csv('ratings.csv')

In [5]:
df_rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [6]:
df_movie = pd.read_csv('movies.csv')

In [7]:
df_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
df_link = pd.read_csv('links.csv')

In [9]:
df_link.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [10]:
genome_scores = pd.read_csv('genome-scores.csv')

In [11]:
genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [12]:
genome_tags = pd.read_csv('genome-tags.csv')

In [13]:
genome_tags.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [14]:
# 1.一共有多少不同的用户
len(df_tag['userId'].unique())

14592

In [15]:
# 2.一共有多少不同的电影
len(df_movie['movieId'].unique())

62423

In [16]:
# 3.一共有多少不同的电影种类
len(df_tag['tag'].unique())

73051

In [17]:
# 4.一共有多少电影没有外部链接
len(df_link[df_link.isnull().T.any()])

107

In [21]:
# 5.2018年一共有多少人进行过电影评分
df_rating["time_index"] = pd.to_datetime(df_rating['timestamp'],unit='s')

In [22]:
df_rating.head()

   userId  movieId  rating   timestamp          time_index
0       1      296     5.0  1147880044 2006-05-17 15:34:04
1       1      306     3.5  1147868817 2006-05-17 12:26:57
2       1      307     5.0  1147868828 2006-05-17 12:27:08
3       1      665     5.0  1147878820 2006-05-17 15:13:40
4       1      899     3.5  1147868510 2006-05-17 12:21:50

In [37]:
df_rating["time_year"] = df_rating['time_index'].apply(lambda x:x.year)

In [38]:
df_rating.head()

   userId  movieId  rating   timestamp          time_index  time_year
0       1      296     5.0  1147880044 2006-05-17 15:34:04       2006
1       1      306     3.5  1147868817 2006-05-17 12:26:57       2006
2       1      307     5.0  1147868828 2006-05-17 12:27:08       2006
3       1      665     5.0  1147878820 2006-05-17 15:13:40       2006
4       1      899     3.5  1147868510 2006-05-17 12:21:50       2006

In [42]:
df_rating_2018 = df_rating[df_rating["time_year"]==2018]

In [43]:
df_rating_2018.head()

      userId  movieId  rating   timestamp          time_index  time_year
6740      51       50     2.5  1530548826 2018-07-02 16:27:06       2018
9939      75        1     5.0  1537207651 2018-09-17 18:07:31       2018
9940      75        5     4.0  1537348819 2018-09-19 09:20:19       2018
9941      75        6     3.0  1537208125 2018-09-17 18:15:25       2018
9942      75       17     4.5  1537208282 2018-09-17 18:18:02       2018

In [46]:
# 5.2018年一共有多少人进行过电影评分
len(df_rating_2018['userId'].unique())

12001

In [45]:
len(df_rating_2018)

1310761

In [48]:
rating_over5 = df_rating_2018[df_rating_2018['rating'] >= 5]

In [56]:
merge_rating_over5 = pd.merge(rating_over5, df_tag, on="movieId", sort=False)

MemoryError: Unable to allocate 4.62 GiB for an array with shape (4, 154979249) and data type int64

In [62]:
# 复仇者联盟的ID：89745
df_movie[df_movie["title"].str.contains(r"Avengers *")]

,movieId,title,genres
2063,2153,"Avengers, The (1998)",Action|Adventure
17067,89745,"Avengers, The (2012)",Action|Adventure|Sci-Fi|IMAX
22599,115727,Crippled Avengers (Can que) (Return of the 5 D...,Action|Adventure
25058,122892,Avengers: Age of Ultron (2015),Action|Adventure|Sci-Fi
25067,122912,Avengers: Infinity War - Part I (2018),Action|Adventure|Sci-Fi
25068,122914,Avengers: Infinity War - Part II (2019),Action|Adventure|Sci-Fi
30333,135979,Next Avengers: Heroes of Tomorrow (2008),Action|Animation|Children|Sci-Fi
30431,136257,Avengers Grimm (2015),Action|Adventure|Fantasy
34536,145676,3 Avengers (1964),(no genres listed)
35219,147238,The New Adventures of the Elusive Avengers (1968),Action|Adventure|Children
35372,147657,Masked Avengers (1981),Action
40636,159920,Shaolin Avengers (1994),Action
40637,159922,The Shaolin Avengers (1976),Action
45394,170297,Ultimate Avengers 2 (2006),Action|Animation|Sci-Fi
53341,187221,LEGO Marvel Super Heroes: Avengers Reassembled...,Animation
54283,189217,Avengers Grimm: Time Wars (2018),Action|Adventure|Fantasy

In [63]:
avengers_ratings = df_rating[df_rating["movieId"] == 89745]

In [67]:
avengers_ratings.head()

,userId,movieId,rating,timestamp,time_index,time_year,time_month
763,3,89745,4.0,1439473055,2015-08-13 13:37:35,2015,8
1060,4,89745,2.5,1573939622,2019-11-16 21:27:02,2019,11
3004,17,89745,3.5,1485581622,2017-01-28 05:33:42,2017,1
3815,21,89745,4.5,1456285556,2016-02-24 03:45:56,2016,2
6735,50,89745,4.0,1402505840,2014-06-11 16:57:20,2014,6

In [65]:
avengers_ratings["time_index"].apply(lambda x: x.month)

763          8
1060        11
3004         1
3815         2
6735         6
            ..
24991510     3
24995935    11
24998513     9
24999225     5
24999496    10
Name: time_index, Length: 17572, dtype: int64

In [66]:
avengers_ratings["time_month"] = avengers_ratings["time_index"].apply(lambda x: x.month)

<ipython-input-66-c98b9606c051>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  avengers_ratings["time_month"] = avengers_ratings["time_index"].apply(lambda x: x.month)

In [68]:
avengers_ratings_grouped = avengers_ratings.groupby("time_month")

In [69]:
import numpy as np
rs = avengers_ratings_grouped["rating"].agg(np.mean)

In [70]:
rs

time_month
1     3.727046
2     3.752993
3     3.794206
4     3.755695
5     3.855727
6     3.850071
7     3.788696
8     3.769920
9     3.740443
10    3.743180
11    3.805475
12    3.750379
Name: rating, dtype: float64

In [73]:
import matplotlib.pyplot as plt

In [74]:
np.arange(1,13,1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [ ]:
plt.plot(np.arange(1,13,1), rs)
plt.xlabel("month")
plt.ylabel("rating")
plt.ti